.box {
  object-fit: contain;
  padding: 0%;
}
.sticky {
  bottom: 0%;
  position: sticky;
  height: auto;
}
.buy {
  position: sticky;
  width: 98%;
  bottom: 0%;
  text-align: center;
  background-color: #ff4081;
  color: white;
}
.productName {
  font-size: medium;
  font-family: 'dream';
}
.discount2 {
  padding: 6px;
  font-size: large;
  font-family: 'dream';
  color: #ff4081;
}
.review {
  font-weight: bolder;
  font-family: 'dream';
  font-size: smaller;
  text-decoration-line: underline;
  color: #cfd8dc;
}
div {
  font-family: 'dream';
}
.num {
  position: relative;
  left: 40%;
  font-size: small;
  color: #757575;
}
.info{
  color :#757575;
  font-size:x-small;
  text-align: center;
}
.btn{
  font-size:small;
  text-align:center;
  color:black;
}