.discount {
    position : relative;
    top : 9px;
    left : 20px;
    font-family : "dream";
    color : firebrick
  }
  
  .price {
    position : relative;
    top : 10px;
    left : 35px;
    font-family : "dream";
    color : black
  }
  
  .original {
    position : relative;
    top : 10px;
    left : 36px;
    font-family : "dream";
    font-size : x-small;
    text-decoration-line: line-through;
    color : black
  }
  
  .rating {
    position : relative;
    top : 6px;
    left : 7px;
    font-family : "dream";
    font-size : smaller;
    color : black
  }